@page "/help/informazioni"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home Page</a></li>
        <li class="breadcrumb-item active" aria-current="page">Help / Informazioni</li>
    </ol>
</nav>

<h1>Informazioni sul prodotto</h1>
<div class="testo"><br /></div>

<div class="testo">This software is distributed under a MIT License</div>
<div class="testo"><br /></div>

<div class="testo">This program <b>Gestione Sagre</b> and all documentation, are copyright &copy; @annoSoftware by Angelo Pirola.</div>
<div class="testo"><br /></div>

<div class="testo">Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following
    conditions are met:</div>
<div class="testo"><br /></div>

<div class="testo">1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</div>
<div class="testo"><br /></div>

<div class="testo">2. The origin of this software must not be misrepresented; you must not claim that you wrote the original software.
    If you use this software in a product, an acknowledgment in the product documentation would be appreciated but is not required.</div>
<div class="testo"><br /></div>

<div class="testo">3. Altered source versions must be plainly marked as such, and must not be misrepresented as being the original software.</div>
<div class="testo"><br /></div>

<div class="testo">4. The name of the author may not be used to endorse or promote products derived from this software without specific prior written
    permission.</div>
<div class="testo"><br /></div>

<div class="testo">THIS SOFTWARE IS PROVIDED BY THE AUTHOR "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
    DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
    NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</div>
<div class="testo"><br /></div>

@code {
    private string annoSviluppo = "2022";
    private string annoAttuale = DateTime.Now.Year.ToString();
    private string annoSoftware = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (annoSviluppo == annoAttuale)
        {
            annoSoftware = annoSviluppo;
        }
        else
        {
            annoSoftware = annoSviluppo + " - " + annoAttuale + "";
        }
    }
}