<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Gestione Sagre</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-home iconaMenu" aria-hidden="true"></span> Home Page
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/informazioni">
                <span class="fas fa-info-circle iconaMenu" aria-hidden="true"></span> Informazioni
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/help/supporto">
                <span class="fas fa-question-circle iconaMenu" aria-hidden="true"></span> Supporto
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
